@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Inkulinati";
    src: url('./fonts/Inkulinati/Inkulinati-Regular.otf');
    font-weight: normal;
    font-style: normal;
}